@font-face {
  font-family: "font-1";
  src: url(../../../assets/fonts/Graphik_Collection/Graphik\ Family/Graphik);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f1f8fc;
  font-family: "font-1", sans-serif;
}

li {
  list-style-type: none;
}